<div class="h-96 bg-shop-banner bg-cover bg-center bg-no-repeat relative">
  <div class="absolute w-full h-full bg-white opacity-50"></div>
  <div
    class="absolute z-10 flex flex-col gap-4 justify-center items-center inset-0"
  >
    <h2 class="text-4xl font-medium">Shop</h2>
    <div class="flex gap-3 items-center">
      <span routerLink="/" class="font-medium cursor-pointer">Home</span>
      <span class="pi pi-angle-right text-xl"></span>
      <span class="cursor-pointer">Shop</span>
    </div>
  </div>
</div>
