<div class="container mx-auto my-16">
  <h3 class="text-[#333] font-bold text-center text-3xl">Browse The Range</h3>
  <p class="text-center text-[#666] py-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <ul class="flex justify-between mt-20 -mx-4">
    <li *ngFor="let item of catalog" class="px-4">
      <img
        width="380px"
        height="280px"
        class="rounded-md"
        title="image"
        [src]="item.image"
        [alt]="item.title"
        srcset=""
      />

      <h6 class="text-center text-xl my-4 font-semibold">{{ item.title }}</h6>
    </li>
  </ul>
</div>
