<div class="bg-[#FCF8F3] flex justify-between gap-10 items-center pl-14 py-11">
  <div>
    <h3 class="text-4xl font-bold">
      50+ Beautiful rooms <br />
      inspiration
    </h3>
    <p class="text-base font-medium text-[#616161]">
      Our designer already made a lot of beautiful <br />
      prototipe of rooms that inspire you
    </p>
    <p-button styleClass="my-6" label="Explore More"></p-button>
  </div>

  <div class="flex-1 flex">
    <div>
      <img width="404px" src="assets/images/bedroom.png" alt="bedroom" />
    </div>
    <div>
      <div class="flex gap-4">
        <span>1</span>
        <span class="contents content"></span>
        <span>Bed Room</span>
      </div>
      <h4>Inner Peace</h4>
    </div>
  </div>
</div>
