<header class="bg-white fixed h-24 top-0 w-full z-10">
  <div class="container mx-auto py-4 flex h-full justify-between items-center">
    <!-- logo -->
    <div class="flex items-center gap-4">
      <img src="assets/images/logo.png" alt="logo-page" />
      <h2>
        <a class="font-bold text-4xl" routerLink="/">Furniro</a>
      </h2>
    </div>
    <!-- navigation -->
    <ul class="flex max-w-[430px] w-full justify-between">
      <li *ngFor="let item of navigation">
        <a
          class="text-base hover:underline hover:opacity-90"
          [routerLink]="item.to"
          >{{ item.title }}</a
        >
      </li>
    </ul>
    <!-- action -->
    <ul class="flex gap-4">
      <li *ngFor="let item of actionHeader">
        <p-button
          class="text-xl"
          [icon]="'pi ' + item.icon"
          [rounded]="true"
          [text]="true"
        />
      </li>
    </ul>
  </div>
</header>
